{% extends 'base_profile.html' %}

{% block title%}

about my yc grabber

{%endblock%}



{% block header_title %} YC Grabber {% endblock %}

{%block header_subtile %} Guenes blog {% endblock %}

{% block button %}
<form method="post">
    <button name="ycscraper_live" class="btn btn-primary">Project in live</button>
    <button name="github" class="btn btn-primary">GitHub</button>
</form>
{% endblock  %}

 {% block content %}


    </section><!-- end of service section -->

    <!-- blog section -->
    <section class="section" id="blog">
        <!-- container -->
        <div class="container text-center">

           <body>

            <div class="px-4 pt-5 my-5 text-center border-bottom">
                <h1 class="display-4 fw-bold">Y Combinator live scrapper</h1>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4">I developed YC News Grabber as a web app that collects and sorts articles from Y Combinator's news section in real-time. I used Python and BeautifulSoup for scraping, Pandas for data handling, and Flask with Bootstrap to create a simple interface. My app allows users to sort articles by votes, comments, or publication date, giving them a customized view.</p>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">

                  </div>
                </div>
                <div class="overflow-hidden" style="max-height: 30vh;">
                  <div class="container px-5">
                    <img src="./static/dev_pic.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
                  </div>
                </div>
              </div>

              <!--Project Purpose-->

              <div class="px-4 pt-5 my-5 text-center border-bottom">
                <h1 class="display-4 fw-bold">Project Purpose</h1>
                <br>
                <div class="overflow-hidden" style="max-height: 30vh;">
                    <div class="container px-5">
                      <img src="./static/project_goal.webp" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
                    </div>
                  </div>
                <br>
                <br>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4">I developed YC News Grabber to improve the user experience on Y Combinator's news section. Unlike the original platform, which only sorts articles by rank, my YC News Grabber allows users to sort them by votes, comments, or publication date. This makes it easier to find relevant and timely content based on personal preferences.</p>

                </div>
              </div>

              <!--END Project Purpose-->

        <!--PROJECT GOAL-->


        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold">Project Goals</h1>
            <br>
            <div class="overflow-hidden" style="max-height: 30vh;">
                <div class="container px-5">
                  <img src="./static/project_goal_1.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
                </div>
              </div>
            <br>
            <br>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">I developed YC News Grabber to improve the user experience on Y Combinator's news section. Unlike the original platform, which only
                sorts articles by rank, my YC News Grabber allows users to sort them by votes, comments, or publication date. This makes it easier to find relevant and timely content based on personal preferences.</p>

            </div>
          </div>

          <!--END PROJECT GOAL -->

        <!--WEB STACK AND EXPLANATION-->


        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold">Web Stack and Explanation</h1>
            <br>
            <div class="overflow-hidden" style="max-height: 30vh;">
                <div class="container px-5">
                  <img src="./static/webstack.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
                </div>
              </div>
            <br>
            <br>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">
                <ul>
                    <li class="project-list-item"><span class="project-item-list-span">Real-Time Data Collection:</span> Continuously gather and update articles from Y Combinator's news page to ensure users have access to the most current information.</li>
                    <br>
                    <li class="project-list-item"><span class="project-item-list-span">Customizable Sorting:</span> Offer users multiple sorting options beyond rank, such as by vote count, comment count, or publication time.</li>
                    <li class="project-list-item"><span class="project-item-list-span">User-Friendly Interface:</span> Develop an intuitive and responsive web interface that allows users to interact with the data easily, leveraging technologies like <span class="enfasy-world"> Flask</span>, <span class="enfasy-world">HTML </span>, <span class="enfasy-world">CSS</span> and <span class="enfasy-world">Bootstrap</span>.</li>
                    <li class="project-list-item"><span class="project-item-list-span">Backend Efficiency:</span> Utilize <span class="enfasy-world"> Python</span>, <span class="enfasy-world"> BeautifulSoup</span> and <span class="enfasy-world"> Pandas</span> for efficient <span class="enfasy-world"> data scraping</span>, <span class="enfasy-world"> processing</span> and <span class="enfasy-world"> storage</span>, ensuring the system runs smoothly and reliably.</li>

                  </ul> </p>

            </div>
          </div>

          <!--END WEB STACK AND EXPLANATION -->


          <!--WHAT I HAVE LEARN-->

          <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold">What I Have Learned</h1>
            <br>
            <div class="overflow-hidden" style="max-height: 30vh;">
                <div class="container px-5">
                  <img src="./static/much_to_learn_we.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
                </div>
              </div>
            <br>
            <br>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Developing YC Live Scraper Web App provided valuable insights into web scraping, data manipulation, and web development.
                I learned the importance of selecting the right tools for each task, such as using BeautifulSoup for efficient data extraction
                and Pandas for flexible data handling and sorting. Integrating these tools within a Flask-based web application highlighted the
                challenges of combining backend logic with frontend presentation. Additionally, working with Jinja2 taught me how to dynamically
                render data-driven content, enhancing the user experience and interactivity of the web app. </p>

            </div>
          </div>



          <!--END WHAT I HAVE LEARN -->




{% endblock %}
